%sysops {{ ansible_default_ipv4.address }} = (ALL) ALL
Host_Alias WEBSERVERS = {{ groups['web'] | join(',') }}
{% if groups['database'] | length > 0 %}
Host_Alias DBSERVERS = {{ groups['database'] | join(',') }}
{% endif %}
%httpd WEBSERVERS = /bin/su - webuser
{% if groups['database'] | length > 0 %}
%dba DBSERVERS = /bin/su - dbuser
{% endif %}